* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-size: 1em;
  line-height: 1.5;
  background: #15414c;
}

.header {
  color: #fff;
  padding: 2em;
  border-bottom: 1px solid #23aad1;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1em;
}

.subtitle {
  display: inherit;
  margin-bottom: 0.5em;
}

.card {
  display: inherit;
  flex-direction: column;
  align-content: center;
  flex: 1;
  background: #15414c;
  color: white;
  margin: 0.5em;
  padding: 8px 8px 16px 8px;
  border-bottom: 3px solid #073642;
}

.listCard {
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  margin: 0.5em;
  padding: 8px 8px 16px 16px;
  border-bottom: 3px solid #073642;
  width: 300px;
}

.card:hover,
.listCard:hover {
  cursor: pointer;
  background: #073642;
}

.title {
  flex: 1;
}

.coverImg {
  width: 300px;
  height: auto;
  margin-top: 1.3em;
}

.description {
  align-self: flex-start;
}

.linkBtn,
.readMoreBtn {
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  background: #ff6f00;
  color: #fff;
  padding: 8px;
  align-self: flex-start;
}

.linkBtn:hover {
  background: #fff;
  color: #ff6f00;
}

.backBtn {
  text-align: center;
  font-weight: 700;
  background: #23aad1;
  color: #fff;
  padding: 8px;
  align-self: flex-end;
  border: none;
}

@media screen and (min-width: 780px) {
  .card {
    display: flex;
    flex-flow: row nowrap;
    min-width: 400px;
    border-bottom: none;
  }

  .listCard {
    width: 200px;
  }

  .coverImg {
    width: auto;
    height: 200px;
    margin: 1.3em 1em 0 0;
  }
}

/*loader animation*/
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #073642;
  border-radius: 50%;
  border-top: 16px solid #ff6f00;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50vh;
}

.footer {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  margin-top: 2em;
  height: 10%;
  color: #fff;
  background: #23aad1;
}
